<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1098634553164-08fbq4f159sdg4bhpo731m7iqkg8ma6f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1098634553164-08fbq4f159sdg4bhpo731m7iqkg8ma6f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1098634553164-4ogg14i8d559tikd4u0uejc827cm84qh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAJxPvWMmJDK4JJz7qV8zdUkox1tQRcx0w</string>
	<key>GCM_SENDER_ID</key>
	<string>1098634553164</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.uzlasstudio.gamebrige</string>
	<key>PROJECT_ID</key>
	<string>gamebrige-1665018585107</string>
	<key>STORAGE_BUCKET</key>
	<string>gamebrige-1665018585107.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1098634553164:ios:52c680d966f3e864d651e9</string>
	<key>DATABASE_URL</key>
	<string>https://gamebrige-1665018585107-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>